@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+IS:wght@100..400&display=swap");
body {
    font-family: "EduAUVICWANT Hand", cursive;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #0BCEAF;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.gallery .item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* Optional: Background color for better visual */
}

.gallery img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0BCEAF;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #078571;
}

@media (max-width: 768px) {
  .gallery img {
    height: 60vh; /* Adjust as needed */
  }
}

@media (max-width: 480px) {
  .gallery img {
    height: 60vh; /* Adjust as needed */
  }

  button {
    font-size: 14px;
    padding: 8px 16px;
  }
}
